body {
  flex-direction: column;
  background: #aa3030;
}

.container {
  display: flex;
  flex-direction: column;
  place-items: center;
}

.logo {
  display: flex;
  align-items: center;
  justify-content: center;
  will-change: filter;
  transition: filter 300ms;
  animation: logo-spin infinite 2s ease-out;
  flex: 1;

  img {
    height: 400px;
  }
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotateY(0deg);
  }
  to {
    transform: rotateY(360deg);
  }
}

.teams {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  gap: 1em;
  flex: 1;
}

.ban {
  direction: rtl;
  margin-top: 100px;
  background-color: black;
  color: yellow;
  padding: 5px 10px;
  border: 1px dashed;
}

.team {
  text-align: center;
  display: flex;
  flex-direction: column;
  color: white;

  /* Task 2: all teams styles here */

  img {
    height: 200px;
    width: auto;
    border-radius: inherit;
  }
}

.social_team {
  /* Task 1: social team styles here */
}

.builders_team {
  /* Task 1: builders team styles here */

  :hover {
    transform: scale(1.5);
    z-index: 9999;
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
  }
}

.developers_team {
  /* Task 1: developers team styles here */
}
