body {
  flex-direction: column;
  background: #333333;
}

.container {
  display: flex;
  flex-direction: column;
  place-items: center;
}

.logo {
  display: flex;
  align-items: center;
  justify-content: center;
  will-change: filter;
  transition: filter 300ms;
  animation: logo-spin 5 0.5s ease-out;
  flex: 1;

  img {
    height: 400px;
  }
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotateY(0deg);
  }
  to {
    transform: rotateY(360deg);
  }
}

.teams {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  gap: 1em;
  flex: 1;
}

.ban {
  direction: rtl;
  margin-top: 100px;
  background-color: black;
  color: yellow;
  padding: 5px 10px;
  border: 1px dashed;
}

.team {
  text-align: center;
  display: flex;
  flex-direction: column;
  color: white;

  img {
    height: 200px;
    width: auto;
  }
}

.social_team {
  /* social team styles here */

  &:hover {
    border: 1px solid green;
  }
}

.builders_team {
  /* builders team styles here */

  &:hover {
    filter: invert(100%);
  }
}

.developers_team {
  /* developers team styles here */

  &:hover {
    transform: scale(2);
  }
}
